#main-comics {
    background-color: rgb(31, 30, 30);

    .container {
        position: relative;
        padding: 1.2rem 0;
    }

    #current-series {
        position: absolute;
        top: -20px;
        left: 0;

        display: inline-block;
        background-color: dodgerblue;
        padding: 10px 20px;

        h1 {
            color: white;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 700;
            margin: 0;
        }

    }

    .card-col {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex-basis: calc(100% / 5);
        display: flex;
        justify-content: center;
    }

    .my-card {
        position: relative;

        padding: 1rem 0.5rem;
        height: auto;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 0;
        flex-grow: 0;

        text-align: center;

        figure {
            width: 250px;
            height: 225px;
            position: relative;

            #edits {
                display: none;
            }

            &:hover #edits {
                display: flex;
                align-self: center;
                position: absolute;
                bottom: 0;
                top: 0;
                left: 50px;
                right: 50px;

                justify-content: space-between;
                flex-direction: column;
                padding: 20px 0;

                background-color: rgba(0, 0, 0, 0.75);

                a,
                form {
                    color: white;
                    font-weight: 700;
                    text-decoration: none;

                    padding: 10px;
                    align-self: center;
                }
            }

            a {
                position: relative;
                display: inline-block;
                height: 100%;
                width: 146px;
                overflow: hidden;


                img {
                    position: absolute;
                    top: 0;
                    translate: -50%;

                    height: 100%;
                    width: auto;
                }
            }
        }

        h5 {
            margin-top: 10px;
            padding-left: 2px;
            width: 100%;
            text-align: center;
            padding: 0 20px;

            a {
                text-decoration: none;
                color: white;
                font-size: 1rem;
                text-transform: none;
            }
        }
    }

    #load-more {
        width: 100%;

        a.btn {
            align-self: center;
            padding: 10px 30px;
            margin: 1rem;

            background-color: dodgerblue;

            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: 700;
            color: white;
        }
    }

    #go-add {
        justify-self: center;

        width: 100%;
        background-image: url(/resources/img/texture-gradient-spots-dark-11570398909eugfy6afsz.jpg);
        background-size: cover;

        padding: 15px 0;
        margin-top: 15px;
        border-radius: 10px;
        border: 1px solid goldenrod;
        box-shadow: 0px 0px 30px rgb(100, 73, 4);

        a {
            text-decoration: none;
            color: white;
            font-size: 1rem;
            text-transform: none;

            h5 {
                margin: 0;
            }
        }
    }
}