#footer-top {
    background-color: dodgerblue;

    height: 125px;


    ul {
        list-style-type: none;


        li {
            margin: 20px;

            a {
                height: 40px;
                display: flex;
                align-items: center;
                text-decoration: none;
            }

        }

        img {
            height: 100%;
        }

        span {
            text-transform: uppercase;
            color: white;
            font-size: 0.75rem;

            padding: 0 8px;
        }

    }
}