#footer-center {
    background-image: url(/resources/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2rem 0;
    height: 400px;

    overflow: hidden;

    nav {
        width: 200px;
        margin: 1rem 0;
    }

    .flex {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
    }

    .container {
        height: 100%;
        flex-direction: column;
    }

    h3 {
        color: white;
        text-transform: uppercase;
        padding-bottom: 0.6rem;
    }

    li {
        text-transform: capitalize;
        list-style-type: none;
        padding: 2px 0;
    }

    a {
        text-decoration: none;
        text-transform: capitalize;

        color: rgba(169, 169, 169, 0.705);
        font-size: 0.8rem;
        font-weight: 500;


        &:hover {
            color: dodgerblue;
        }
    }


    figure {
        height: 100%;
        position: relative;
    }

    img {
        position: relative;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        width: 80%;
    }
}