header {
    height: 100px;

    .container {
        justify-content: space-between;
    }

    nav {
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    figure {
        height: 75%;
        align-self: center;
        margin: 0;
        margin-right: 5rem;
    }

    img {
        height: 100%;
        width: auto;
    }

    .link-setup {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8rem;

        color: rgba(48, 48, 48, 0.788);

        margin: 0 0.75rem;
    }

    .flex {
        display: flex;

        flex-grow: 1;
        flex-shrink: 0;
    }

    .center {
        align-items: center;
        justify-content: center;
    }

    ul,
    a {
        height: 100%;
        margin: 0;
    }

    li {
        height: 100%;
        border-bottom: 5px solid transparent;
        transition: border-bottom 0.3s;
    }

    li:hover,
    li:active {

        border-bottom: 5px solid dodgerblue;
        color: dodgerblue;
    }


    .list-setup {
        list-style-type: none;
    }
}

.background {
    height: 300px;
    background-image: url('/resources/img/jumbotron.jpg');
    background-color: dodgerblue;
    background-size: cover;
    background-repeat: no-repeat;
}